.card.mb-3
  .card-body
    %a.font-weight-bold.mr-2(href="/users/#{@tweet.user.slug}")
      %i.fas.fa-user
      = @tweet.user.username
    = @tweet.content

- if current_user.id == @tweet.user.id
  .row
    .col-auto
      %a.btn.btn-primary(href="/tweets/#{@tweet.id}/edit")
        %i.fas.fa-edit
        Edit Tweet
    .col-auto
      %form(action="/tweets/#{@tweet.id}/delete" method="post")
        %input(type="hidden" name="_method" value="delete")
        %input#delete.btn.btn-danger(type="submit" value="Delete Tweet")

- else
  %button.btn.btn-danger.disabled Delete Tweet
